@page
@model Hotel_Advisor.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Country.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Website)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.CovidSafety)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.CovidSafety)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Hotel.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
